* {
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: rgba(255, 255, 255, 0.15);
}

/* header navbar */

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  overflow: hidden;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
}

.icon {
  margin-top: 5px;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

/* banner */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner-3.jpg");
  height: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.hero-text {
  text-align: center;
  color: white;
}

.hero-text h1 {
  font-size: 50px;
}

.btn-banner {
  margin-top: 15px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  background-color: #555;
  color: white;
  text-align: center;
  cursor: pointer;
}

.btn-banner:hover {
  color: black;
  background-color: #ddd;
}

/*--blog--------------------------*/
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-heading span {
  color: #f33c3c;
}
.blog-heading h3 {
  font-size: 2.4rem;
  color: #2b2b2b;
  font-weight: 600;
}
.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin: 20px 20px;
}
.blog-img {
  width: 100%;
  height: 15rem;
}
.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.blog-text span {
  color: #f33c3c;
  font-size: 0.9rem;
}
.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 500;
  color: #272727;
}
.blog-text p {
  color: #9b9b9b;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}
.blog-text a {
  color: #0f0f0f;
}
.blog-text a:hover {
  color: #c74242;
  transition: all ease 0.3s;
}
.blog-btn-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blog-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

/* footer */

footer {
  background: #0f0f0f;
  color: #9b9b9b;
  text-align: center;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

footer > p {
  padding: 15px;
}

/* blog form */
#container {
  padding: 40px;
  margin-top: 50px;
  width: 750px;
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
}

.form-title h2 {
  font-size: 30px;
}

.form-item {
  margin-bottom: 15px;
}

.form-item input,
.form-item textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border-radius: 6px;
}

.form-button {
  padding: 12px 0;
  font-size: 15px;
  width: 120px;
  font-weight: 500;
  border: none;
  background: #04aa6d;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.form-button:hover {
  background: #038e5b;
  color: black;
}

/* login form */

/* media query */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
